<!-- ./views/layouts/main.handlebars -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>廣志の私帳</title>
</head>

<body>

  <header>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container justify-content-between">
        <a class="navbar-brand" href="/">
          <i class="fas fa-comments-dollar"></i>
          廣志の私帳
        </a>
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <!-- search bar -->
  <div id="utilityContent" class="container search-bar sort-box d-flex justify-content-between align-items-center mt-3 mb-3">
    <div class="search-bar-outer w-75">
      <div class="search-bar-inner">
        <form action="/search">
          <div class="input-group">
            <input type="text" name="keyword" class="form-control" placeholder="搜尋支出 (名稱、或是金額)" aria-label="Expense..."
              value="{{ keyword }}" aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="dropdown show expenseFilter">
      <a class="btn btn-outline-primary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        支出類別
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each categories}}
          <div class="dropdown-item" data-categoryId="{{ this._id }}">{{ this.name }} {{{ this.icon }}}</div>
        {{/each}}
      </div>
    </div>
  </div>
  
  <!-- main area -->
  {{{ body }}}

  <!-- resources CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha512-5WvZa4N7Jq3TVNCp4rjcBMlc6pT3lZ7gVxjtI6IkKW+uItSa+rFgtFljvZnCxQGj8SUX5DHraKE6Mn/4smK1Cg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha512-Ah5hWYPzDsVHf9i2EejFBFrG2ZAPmpu4ZJtW4MfSgpZacn+M9QHDt+Hd/wL1tEkk1UgbzqepJr6KnhZjFKB+0A==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous" />
  
  <!-- Project stylesheet -->
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>
</body>

</html>