<!-- ./view/index.handlebars -->
<div id="mainContent" class="container">
  <div class="jumbotron">
    {{!-- <h1 class="display-3">總金額</h1> --}}
    <div class="row">
      <div class="col-9 totalAmount-wrap">
        <h2 class="mr-5 mt-1">總金額</h2>
        <span id="totalAmount" class="display-3">${{ totalAmount }}</span>
      </div>
      <div class="col-3">

      </div>
    </div>
    <div class="records-wrap">
      <div class="col-12">
        {{#each records}}
          <div class="row p-2 record bg-light">
            <div class="col-md-9 d-flex">
              <i class="fas fa-home pr-3"></i>
              <div class="w-75 d-flex flex-column pr-3">
                <div class="pr-2 pl-2">{{ this.name }}</div>
                <div class="pr-2 pl-2 small">{{ this.date }}</div>
              </div>
              <div class="pr-3 align-self-center">${{ this.amount }}</div>
            </div>
            <div class="col-3">
              <a class="btn btn-warning btn-lg" href="/records/{{ this._id }}/edit">修改</a>
              <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                <button class="btn btn-danger btn-lg btn-delete" data-toggle="tooltip" data-placement="bottom" title="Delete the record" type="submit">刪除</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <hr class="my-4">
    <p class="text-center">
      <a class="btn btn-success btn-lg" href="/records/new" role="button">新增支出</a>
    </p>
  </div>


</div>